:root{
    --colorFondo: #FEF7DC;
    --colorTexto: #360827;
    --colorTitulo: #5E1043;
    --sombras: #A13F80;
    --colorTextoPrincipal: #432323;
    --colorLetras: #644444;
}

body{
    font-family: 'Poppins', system-ui, sans-serif;
    background-color: var(--colorFondo);
    color: var(--colorTextoPrincipal);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
    padding: 3rem;
}

.contenido-cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-cabecera h1{
    font-size: 3rem;
}

.contenido-cabecera p{
    font-size: 1.4rem;
}

.imagen-perfil{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--colorTexto);
    box-shadow: 0 0 25px var(--colorTextoPrincipal);
}

.imagen-perfil:hover{
    transform: scale(1.08);
    box-shadow: 0 0 30px var(--colorTextoPrincipal);
    cursor: pointer;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton{
    background-color: var(--colorTextoPrincipal);
    color: var(--colorFondo);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid var(--colorTitulo);
    box-shadow: 0 4px 15px var(--colorTextoPrincipal);
    transition: background-color 0.4s;
}

.boton:hover{
    box-shadow: 0 4px 20px var(--colorTextoPrincipal);
    background-color: var(--colorFondo);
    color: var(--colorTexto);
}

/* Animación nombre */

.contenedor-nombre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-weight: bold;
}

.nombre, .apellido{
    font-size: 50px;
    font-weight: bold;
    gap: 10px;
}
.letra{
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

}
.d:hover{
    transform: rotate(10deg) scale(1.2);
    color: var(--colorLetras);
}

.i:hover{
    transform: rotate(-10deg) scale(1.2);
    color: var(--colorLetras);
}