:root{
    --colorFondo: #FEF7DC;
    --colorTexto: #360827;
    --colorTitulo: #5E1043;
    --sombras: #A13F80;
    --colorTextoPrincipal: #432323;
}

/* CSS DEL NAV */

body{
    font-family: 'Poppins', system-ui, sans-serif;
    background-color: var(--colorFondo);
    margin: 0;
    padding: 0; 
    /* Margin y padding a 0 para tener html preparado */
}

header{
    background-color: var(--colorFondo);
    color: var(--colorTextoPrincipal);
    padding: 1em 0;
    text-align: center;
}

h1{
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 10px;
}

.nav-menu{
    list-style: none;
    background-color: var(--colorTextoPrincipal);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1em;
}

.nav-menu a{
    margin: 10px 25px;
    font-size: 20px;
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
    transition: background-color 0.4s;
    text-decoration: none;
    color: var(--colorFondo);
    display: inline-block;
}


.nav-menu a:hover{
    background-color:var(--colorFondo);
    color: var(--colorTexto);
    font-size: 20px;
}

.nav-menu a.active {
    background-color: #FEF7DC; /* amarillo suave */
    color: var(--colorTexto);  /* marrón oscuro */
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--colorFondo);
}


.titulo-contenedor-general{
    text-align: center;
    margin-bottom: 40px;
    color: var(--colorTextoPrincipal);
    margin-top: -190px;
    font-size: 2rem;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.caja-video{
    box-shadow: 0 6px 8px var(--colorTexto);
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.caja-video:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 16px var(--colorTexto);
}

.caja-video iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

/* El aspect ratio o relación de aspecto en castellano, describe la relación proporcional de un elemento entre su ancho y alto. En vídeos lo mejor es 16:9 */

